<p><%=@patient.name%></p>
<p><%=@patient.age%></p>

<ul>
  <%@patient.appointments.each do |appointment| %>
  <li> <%=appointment.appointment_datetime.strftime('%B %d, %Y') %> at <%=appointment.appointment_datetime.strftime('%R') %></li>
  <li><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
    <%end%>
</ul>
